{% extends "layout.njk" %}

{% block head %}

  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}
    
{% block content %}

  <div id="page">
    <img src="assets/icon.jpg" alt="images">
    <h1> Sobre a Rocketseat </h1>
    <ul>
      <li>
        Node.js | ReactJS | React Native
      </li>
    </ul>
    <p> Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível. </p>
    <p> Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso. </p>
    <p> Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador. </p>
  </div>

  <div id="links-footer" class="links">
    <a href="https://github.com/Rocketseat" target="_blank"> Github </a>
    <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank"> Instagram </a>
    <a href="https://pt-br.facebook.com/rocketseat/" target="_blank"> Facebook </a>
  </div>

{% endblock %}