{% extends "layout.njk" %}

{% block head %}

  <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico">
  
{% endblock %}

{% block content %}
    <section class="course">

        <div class="course">
          <div class="classe__course-container">
            <iframe src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
          </div>
    </section>

{% endblock %}